body {
  font-family: sans-serif;
}

#assignment-instructions {
  color: blue;
  font-family: sans-serif;
}

.li-text code {
  color: purple;
}

ol code {
  font-family: monospace;
  color: red;
}

li ~ li {
  background: black;
  color: white;
}

/* ol > li {
  background: black;
  color: white;
} */
