/* A css rule is compose of a selector, a property and a value */
*{
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

#product-overview {
  background: #ff1b68;
  width: 100%;
  height: 528px;
  padding: 10px;

}

/* Combinators: allow us to be more specific about which element we wnat to add styles on */
#product-overview h1 {
  color: white;
  font-family: 'Anton', sans-serif;
}

.section-title {
  color: #2ddf5c;
}

.main-header {
  width: 100%;
  background-color: #2ddf5c;
  padding: 8px 16px;
  margin: 10px 0px;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 75px);
  vertical-align: middle;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

.main-nav__item a {
  color: #0e4f1f;
  text-decoration: none;
  /* margin: 0 16px; */
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
}

/* .main-nav__item a:active{
  color: white;
} */
/* h1 {
  font-family: sans-serif;
} */


/* STANDARD FONTS */
/* Standard Fonts on browser (browser settings):
  serif
  sans-serif
  monospace
*/

/* SELECTORS: */
/* Elements: set equal style fro these elements. HTML ex. <h1>, <p>, <div>  CSS ex. h1{ } */
/* Classes: set equal style for elements within the same class. HTML ex. <h1 class="blog-post">, <p  class="blog-post">, <div  class="blog-post"> CSS ex. .blog-post{ } */
/* Universal Selector(star selector): same style on every single element. CSS ex. *{ } */
/* IDs: Set style to one specific element. HTML ex. <h1 id="main-title"> CSS ex. #main-title{ } */
/* Attribute Selectors: Set equal style to all elements with attribute(s). HTML ex. <button disabled> CSS ex. [disabled]{ }  */
