*{
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.main-header {
  width: 100%;
  background-color: #2ddf5c;
  padding: 8px 16px;
  position: fixed;
  top:0;
  left: 0;
  z-index: 1;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 75px);
  vertical-align: middle;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

.main-nav__item a {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  padding: 3px 0px;
  /* margin: 0 16px; */
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: white solid 5px;
}

.main-nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active{
  color: #ff1b68;
  background: white;
  border: none;
}

.main-footer {
 background: black;
 padding: 32px;
 margin-top: 48px;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #aaa;
}

.button {
  background: green;
  color: white;
  font: inherit;
  border: 1.5px solid green;
  border-radius: 8px;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active{
  background: white;
  color: #0e4f1f;
}

.button:focus{
  outline: none;
}
