main {
  padding-top: 2rem;
}

.background {
  background: url("../images/plans-background 2.jpg") center/cover;
  filter: grayscale(50%);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.package {
  width: 80%;
  border: solid 4px #2d4b2d;
  border-left: none;
  margin: 1rem 0;
  padding: 40px;
  position: relative;
}

.package:hover,
.package:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-color: #ff5454;
}

.one {
  background: #cbfdcb
}

.two {
  background: #e0fde0;
  border: solid 4px #2d4b2d;
  border-right: none;
  float: right;
  text-align: right;
}

.three {
  background: #2d4b2d;
}

.packages-link {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 2rem;
}

.three .package__title {
  color: white;
}

.package__badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.2rem;
  font-size: 20px;
  color: white;
  background: #ff5454;
  padding: .5rem;
}

.package__subtitle {
  color: #a6a6a6;
}

.package__info {
  background: white;
  border: solid 1px #2d4b2d;
  padding: 16px;
  font-size: 1.2rem;
  color: #2d4b2d;
}

.clearfix {
  clear: both;
}
